.menu_icon{
    width: 35px !important;
    height: 30px !important;
    margin-bottom: 8px;
    display: none !important;
}

@media (max-width:460px){
   
    
    .header_nav{
        justify-content: start !important;
    }
    
}

@media (max-width:600px){
    .header_option{
        display: none !important;   
    }
     .menu_icon{
        display: inline !important;
    }
    .header_searchbar{
        flex: 1 1 100px;
        margin-left: 10px;
    }
}

.header{
    background-color: #131921;
    height: 60px;
    width: 100%;
    min-width: 360px;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 99;  
    padding: 0px 5px;
    overflow: hidden;
}

.header_logo{
    width: 100px;
    height: 40px;
    object-fit: contain;
    margin: 0px 5px;
    margin-top: 5px;
    /* border: 2px solid red; */
}

.header > img{
    height: 35px;
    object-fit: contain;
    padding: 1px 8px 0px 6px;
    margin: 1px;
}

.header_searchbar{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    flex: 1;
    border-radius: 5px;
    overflow: hidden !important;
    min-width: 160px;
    width: 100%;
    /* width: clamp(120px, 160px + 10vw, 300px); */
    
}
.header_searchbar>input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 10px;
    /* overflow: hidden !important; */
    font-size: 1.2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.search_icon{
    background-color: #F3A847;
    color: black;
    width: 40px !important;
    height: 40px !important;
    cursor:pointer;
}

.header_option{
    display: flex;
    flex-direction: column;
    /* margin: 0px 1px; */
    color: white;
}

.header_option_1{
    font-size: 12px;
}
.header_option_2{
    font-size: 14px;
    font-weight:700;
}





.header_nav{
    margin: 0px 10px;
    display: flex;
    flex: 0.25;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    margin-right: 20px;
}

.header_cart{
    position: absolute;
    right: 5px;
    top: 18px;
}
